.formDiv {
  background: url("../assets/simplehrms.jpg");
  background: linear-gradient(rgba(11, 11, 11, 0.5), rgba(10, 10, 10, 0.5)),
    url("../assets/simplehrms.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 120%;
}
.loginForm h3 {
  text-align: center;
}

/* //////////////////////////////// */
.addDepart {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  border: 1px solid gray;
}
.selectInput {
  width: 100%;
  height: 2rem;
  border: 1px solid gray;
}
.addEmployeeDiv {
  color: white;
  text-align: center;
  width: 45vw;
  padding: 2.3rem;
  border: 1px solid gray;
  border-radius: 2rem;
  background-color: cadetblue;
}
.addEmployeeMainDiv {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ButtonsDiv {
  display: flex;
  justify-content: space-between;
}
.inputForm {
  border-radius: 1rem !important;
}
/* ////////// */
.tableContainer {
  margin-top: 0.5rem;
  padding: 1rem;
}

/* ///////////////// */
.listNavbar {
  display: flex;
  gap: 2rem;
}
.navBarDiv {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding-right: 2rem;
  background-color: rgb(21, 114, 114);
}
.navBarDiv h4 {
  margin-left: 28rem;
  font-size: 1.8rem;
}
/* //////////////// */
.formDiv {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginForm {
  color: beige;
  border: 1px solid gray;
  width: 25rem;
  padding: 3;
  height: 40vh;
  border-radius: 1rem;
}
.formDivForSearch {
  display: flex;
  width: 75%;
  justify-content: space-around;
  text-align: center;
  padding: 0.5rem;
}
.loginFormHeadding {
  padding: 1rem;
  padding-bottom: 2.5rem;
}
.FormHeadding {
  padding: 1rem;
}
.loginValidationForm {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}
.emailNpasswordDiv {
  padding: 1rem 3rem;
}
.addButton {
  color: white;
  padding: 0;
  width: 30vh;
  height: 6vh;
  border: none;
  border-radius: 0.5rem;
  background-color: rgb(22, 97, 97);
}
.divHedding {
  padding: 0rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tableContainerDept {
  margin-top: 0.5rem;
  padding: 1rem;
  width: 80vw !important;
}
.TableOuterDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.SubmitNCancel {
  background-color: white !important;
}
